<div class="container product-container" *ngIf="product">
    <div class="row">
        <div col-md-3> <img [src]="product.imagePath" alt="" width="100px"></div>
        
        <div class="col-12 col-md-12">
            Name: {{product?.name}}
        </div>
        <div class="col-12 col-md-12">
            Price {{product?.price}}
        </div>
        <div class="col-12 col-md-12">
            Section {{product?.section}}
        </div>
        <div class="col-12 col-md-12">
            rack {{product?.rack}}
        </div>
        <div class="col-12 col-md-12">
            number {{product?.number}}
        </div>
    </div>
</div>
<ng-container *ngIf="product">
    <div class="map-container">
        <google-map [center]="center" [zoom]="zoom" height="500px" width="80vw">
            <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
                [title]="marker.title" [options]="marker.options">
            </map-marker>
        </google-map>
    </div>
</ng-container>